# Python cache
__pycache__/
*.py[cod]
*.class

# Environment variables
.env
env/.env

# SQLite DB
db.sqlite3

# Django migrations (optional, but safe if team regenerates)--->this caused errors since we never knew what migrations were being tracked.thats why i got it works on my machine but not in production,make sure to verfy all migratons ote which ones are actively listening
**/migrations/__pycache__/
**/migrations/*.pyc


# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS system files
.DS_Store

# Coverage reports
htmlcov/
.coverage

# Ignore virtual environment folders
venv/

# Database backups
*.sql
ctm_backup.sql.env
staticfiles/
detected-requirements.txt
